body {
  background-color: lightcyan;
  font-family: Georgia;
}

h1 {
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  text-align: center;
}

h2 {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.panel-title {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.panel-body {
  font-size: 120%;
}
.peso {
  float: right;
}

.peso-total {
  font-weight: bold;
  float: right;
}

.downpay {
  text-align: center;
}

h3 {
  font-size: 250%;
  text-align: center;
  padding: 10px;
}

blockquote {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 120%;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
